@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-geist-sans: "Geist", sans-serif;
    --slate-blue-gray: #2e3b44;
    --steel-blue: #6a89a7;
    --powder-blue: #b0c3d6;
    --charcoal-blue: #384959;
    --sky-blue: #88bdf2;
    --emerald-green: #5cb85c;
    --coral-red: #ef4444;
    --graphite: #d4d4d4;
    --pure-white: #ffffff;
    --metallic-blue: #215974;
  }

  body {
    padding: 0;
    background: var(--slate-blue-gray);
    color: var(--pure-white);
    font-family: var(--font-geist-sans), "Helvetica", sans-serif;
  }
}

@layer components {
  .primaryButton {
    @apply bg-[var(--charcoal-blue)] hover:bg-[var(--metallic-blue)] w-full rounded-full py-3 mt-6 text-pure-white transition-colors cursor-pointer ease-in-out duration-300;
  }

  .alert-error {
    background-color: var(--coral-red);
    color: var(--pure-white);
    border-radius: 8px;
  }

  .alert-success {
    background-color: var(--emerald-green);
    color: var(--pure-white);
    border-radius: 8px;
  }
}
